
.starter{}
.starter:before{
    content:"——";
}
h1 span{
    display:block;
    margin-bottom: .5em;
}
.logo{
    max-width: 5em;
}
.er{
    max-width:10em;
}
#chatFrist{/* line-height: 2em; */}
#chatFristText{
}
a.link-chat{
    font-size:2em;
}
@media (min-width: 330px) {
  a[href].book.translate-x:before{
    animation-duration: 3s;
    animation-name: translate-x;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.book.translate-y:before{
  animation-duration: 3s;
  animation-name: translate-y;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes translate-y {
  from {
    transform: translate(0,0); 
  }

  to {
    transform: translate(0,3em);
  }
}
@keyframes translate-x {
  from {
    transform: translate(0,0); 
  }

  to {
    transform: translate(8em,0);
  }
}

.name{/* float: right; */}
.name:before{
    content:"——";
}