
.starter{}
.starter:before{
    content:"——";
}
h1 span{
    display:block;
    margin-bottom: .5em;
}
.logo{
    max-width: 5em;
}
.er{
    max-width:10em;
}
#chatFrist{
}
#chatFristText{
}
a.link-chat{
    font-size:2em;
}