summary{
   line-height: 2.5em;
   font-weight: bold;
}
details iframe{
    width: 100%;
    border: 0;
    min-height: 335px;
    /* position: absolute; */
    /* top: 0; */
}
#chatFrist{min-height: 4em;}
.name:before {
    content: "—";
}

.book.translate-y:before{
  /*   animation-duration: 5s;
  animation-name: translate-y;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear; */
  /* margin-left: -1.2em; */
  /* text-indent: -1.2em; */
  
  }
@-webkit-keyframes hinge {
	0% { 
	   transform: rotate(0); 
	   transform-origin: top right; 
	   animation-timing-function: ease-in-out; 
	}
	60%, 80% { 
	   transform: rotate(-60deg); 
	   transform-origin: top right; 
	   animation-timing-function: ease-in-out; 
	}
	70% { 
	   transform: rotate(-40deg); 
	   transform-origin: top right; 
	   animation-timing-function: ease-in-out;
	}
	90% { 
	   transform: rotate(-40deg) translateY(0); 
	   opacity: 1; 
	   transform-origin: top right; 
	   animation-timing-function: ease-in-out; 
	}
	100% { 
	   transform: translate(.4em,3.1em); 
	}
 }

 @keyframes hinge {
	0% { 
	   transform: rotate(0); 
	   transform-origin: top right; 
	   animation-timing-function: ease-in-out; 
	}
	60%, 80% { 
	   transform: rotate(-60deg); 
	   transform-origin: top right; 
	   animation-timing-function: ease-in-out; 
	}
	70% { 
	   transform: rotate(-40deg); 
	   transform-origin: top right; 
	   animation-timing-function: ease-in-out;
	}
	90% { 
	   transform: rotate(-40deg) translateY(0); 
	   opacity: 1; 
	   transform-origin: top right; 
	   animation-timing-function: ease-in-out; 
	}
	100% { 
	   transform: translate(.4em,3.1em); 
	}
 }
.book:before{
	font-size: 1em;
	height: .8em;
	background-position-y: -.4em;
	background-position-x: -.7em;
	margin-left: .2em;
}
 .hinge:before {
	-webkit-animation-name: hinge;
	animation-name: hinge;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	/* font-size: 1.2em; */
	/* line-height: 1em; */
	/* animation: initial; */
}
#give[open] .hinge:before{
	    -webkit-animation: initial;
	    animation: initial;
}

.ofo{
  text-align:center;
}
.drawer{
  position:relative;
  padding-bottom: 60px;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); */
  /* height: 100%; */
}
.drawer details{
  /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2); */
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.drawer summary{
  width:25%;
}
.drawer #give summary{
  left:0;
}
.drawer #get summary{
  left: 25%;
}
.drawer #money summary{
  left:75%;
}
#ofo p{
   padding-left: .5em;
   padding-right: .5em;
   box-sizing: border-box;
}
.drawer #ofo summary{
  left:50%;
}
/* 
#ofo summary{
  font-size: .8em;
}
#ofo[open] summary{
  font-size:1.2em;
} */
.drawer summary{
  position:absolute;
  top:0;
  z-index:1;
  text-align: center;
}
.drawer details[open] {
    padding-top: 3.8em;
}