body{
  word-break: break-word;
  max-width: 800px;
  /* margin:auto; */
}
img{max-width:100%;}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    display: inline-block;
    position: relative;
}
.fa-commenting-o:before{
  content: "\f27b";
}
.fa-map-marker:before {
    content: "\f041";
     */
    margin-right: -.5em; */
    margin-left: .;
    font-size: 1.2em;
}
.fa-user-circle:before {
    content: "\f2bd";
}
.fa-spinner:before {
    content: "\f110";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
    display: inline-block;
}
.fa-check:before {
    content: "\f00c";
    color:green;
}
.fa-link:before {
    /* content: "\f0c1"; */
}
.fa-search:before {
    content: "\f002";
}
.fa-truck:before {
    content: "\f0d1";
    transform: rotate(-90deg);
    display: inline-block;
    -webkit-animation: fa-right 2s infinite;
    animation: fa-right 2s infinite;
    animation-direction: alternate;
}
.fa-clock-o:before {
    content: "\f017";
}
.fa-calendar:before {
    content: "\f073";
}
.fa-pause:before {
    content: "\f04c";
}
.fa-hourglass-start:before {
    content: "\f251";
}
.fa-calendar-o:before {
/*     content: "\f133"; */
    font-size: 1.5em;
    margin-right: -1.5em;
    opacity: 0.6;
}
.fa-sign-in:before {
    content: "\f090";
}
@font-face {
      font-family: "FontAwesome";
      src: url('../download/fontawesome-webfont.woff');
}
@keyframes fa-right {
  from {
    transform: rotate(-90deg)  translate(0,0); 
  }

  to {
    transform:  rotate(-90deg) translate(2em,0);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
a{
    font-size:1.2em;
}
a[href="#"]{
    text-decoration: none;
    position: relative;
    font-family: FontAwesome;
    white-space: normal;
}
a[href="#"]:hover:after{
    position: absolute;
    content:attr(data-title);
    right: 0;
    /* left: 0; */
    margin: auto;
    top: 100%;
    width: 5em;
    font-family: FontAwesome;
    /* z-index: 1; */
    text-align: left;
}
a[href="#"].title-pencil:hover:after{
    content:"\f040"attr(data-title);  
}
a[href="#"].title-question:hover:after {
    content: "\f059"attr(data-title);
}
a[href="#"].title-top:hover:after{
    top:auto;
    bottom: 100%;
}
html{
        overflow-x: hidden;
/*         height: 100%; */
}
.you,.book,.give,.get{position:relative;}
.you:before,.book:before,.give:before,.get:before{
    content:" ";
    background-image: url(../download/logo.png);
    background-size: 2em;
    width: .6em;
    height: 2em;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    font-size: .8em;
}
.you:before{
    background-position-x: -.1em;
    background-position-y: .2em;
}
.book:before{
    background-position-x: -.7em;
    background-position-y: .1em;
}
.give:before{
    background-position-x: -1.3em;
    background-position-y: -.6em;
    transform: rotateY(180deg);
}

.get:before{
  background-position-x: -1.3em;
  background-position-y: -.4em;
  transform: rotateX(180deg);
}
.init-hide{
    display:none;
}
.init-hide.ng-scope{
    display: initial;
}

@media (min-width: 816px) {
  body{
/*         max-width: 800px; */
        margin:auto;
  }
}
details{
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  /*   border: 1px outset; */
}
summary{
  position: relative;
}
details[open] summary{
}

#map{
  display: none;
  /* height: 20em; */
  /* position: relative; */
  /* overflow: hidden; */
  /* text-align: center; */
  /* line-height: 20em; */
  /* opacity: .2; */
}
#map img{
  position: absolute;
  max-width: 800px;
  width: 800px;
  top: -800px;
  bottom: -800px;
  left: -800px;
  right: -800px;
  margin: auto;
  z-index: -1;
  opacity: .3;
}
.address-p{
  /* position:relative; */
  /* overflow: scroll; */
}
#map .mark{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1;
      width: 2em;
      height: 2em;
      text-align: center;
      line-height: 2em;
      font-size: 1.5em;
      /* display: inline-block; */
      opacity: .3;
}

input, textarea {
    font: 1.2em sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    border-width: 0;
    border-bottom-width: 2px;
    /* border-left-width: 2px; */
    /* border-color: rgb(169, 169, 169); */
}

input:focus, textarea:focus {
    border-color: #000;
}
.good{
  color:red;
}
.new-book{
    display: inline-block;
    width: 5em;
    /* box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); */
    height: 7em;
    white-space: nowrap;
    position: relative;
    transition: transform 1s;
    animation-timing-function: linear;
    text-align: center;
    line-height: 7em;
    margin-bottom: 1em;
    margin-top: 1em;
    background-image: url(../download/logo.png);
    background-size: 23em;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position-x: -9.5em;
    background-position-y: -5.5em;
    text-indent: .5em;
}

.new-book:hover{
  transform: rotateY(180deg);
}
.drawer{
  position:relative;
  padding-bottom: 5em;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);

}
.drawer details{
  
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
#give summary{
  left:0;
  width:50%;
}
#get summary{
  right:0;
  width:50%;
}
.drawer summary{
  position:absolute;
  top:0;
  z-index:1;
}
.drawer details[open] {
    padding-top: 5em;
}
summary{
  font-size:.8em;
  transition: font-size .2s;
}
summary:hover{
  font-size:1em;
}
details[open] summary{
  font-size:1em;
}