body{
  word-break: break-word;
}
img{max-width:100%;}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: initial;
    display: inline-block;
    position: relative;
}
.fa-commenting-o:before{
  content: "\f27b";
}
.fa-map-marker:before {
    content: "\f041";
     */
    margin-right: -.5em; */
    margin-left: .;
    font-size: 1.2em;
}
.fa-user-circle:before {
    content: "\f2bd";
}
.fa-spinner:before {
    content: "\f110";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
    display: inline-block;
}
.fa-check:before {
    content: "\f00c";
    color:green;
}
.fa-link:before {
    content: "\f0c1";
}
.fa-search:before {
    content: "\f002";
}
.fa-truck:before {
    content: "\f0d1";
    transform: rotate(-90deg);
    display: inline-block;
    -webkit-animation: fa-right 2s infinite;
    animation: fa-right 2s infinite;
    animation-direction: alternate;
}
.fa-clock-o:before {
    content: "\f017";
}
.fa-calendar:before {
    content: "\f073";
}
.fa-pause:before {
    content: "\f04c";
}
.fa-hourglass-start:before {
    content: "\f251";
}
.fa-calendar-o:before {
/*     content: "\f133"; */
    font-size: 1.5em;
    margin-right: -1.5em;
    opacity: 0.6;
}
.fa-sign-in:before {
    content: "\f090";
}
@font-face {
      font-family: "FontAwesome";
      src: url('../download/fontawesome-webfont.woff');
}
@keyframes fa-right {
  from {
    transform: rotate(-90deg)  translate(0,0); 
  }

  to {
    transform:  rotate(-90deg) translate(2em,0);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
a[href]{
    font-size:1.2em;
}
a[href="#"]{
    text-decoration: none;
    position: relative;
    font-family: FontAwesome;
    white-space: normal;
}
a[href="#"]:hover:after{
    position: absolute;
    content:attr(data-title);
    right: 0;
    /* left: 0; */
    margin: auto;
    top: 100%;
    width: 5em;
    font-family: FontAwesome;
    /* z-index: 1; */
    text-align: left;
}
a[href="#"].title-pencil:hover:after{
    content:"\f040"attr(data-title);  
}
a[href="#"].title-question:hover:after {
    content: "\f059"attr(data-title);
}
a[href="#"].title-top:hover:after{
    top:auto;
    bottom: 100%;
}
html{
        overflow-x: hidden;
        height: 100%;
}
.you,.book,.give{position:relative;}
.you:before,.book:before,.give:before{
    content:" ";
    background-image: url(../download/logo.png);
    background-size: 2em;
    width: .6em;
    height: 2em;
    /* position: absolute; */
    /* margin: auto; */
    /* left: -.2em; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    font-size: .8em;
}
.you:before{
    background-position-x: -.1em;
    background-position-y: .2em;
}
.book:before{
    background-position-x: -.7em;
    background-position-y: .2em;
}
.give:before{
    background-position-x: -1.3em;
    background-position-y: -.6em;
}
.init-hide{
    display:none;
}
.init-hide.ng-scope{
    display: initial;
}

@media (min-width: 800px) {
  body{
        max-width: 800px;
        margin:auto;
  }
}
