
img{max-width:100%;}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
}

.fa-map-marker:before {
    content: "\f041";
}
.fa-user-circle:before {
    content: "\f2bd";
}
.fa-spinner:before {
    content: "\f110";
}
.fa-check:before {
    content: "\f00c";
    color:green;
}
@font-face {
      font-family: "FontAwesome";
      src: url('../download/fontawesome-webfont.woff');
}
a{
    font-size:1.2em;
}
a[href="#"]{
    text-decoration: none;
    position: relative;
    font-family: FontAwesome;

}
a[href="#"]:hover:after{
    position: absolute;
    content:attr(data-title);
    left: 0;
    top: 100%;
    width: 5em;
    font-family: FontAwesome;
    /* z-index: 1; */
}
a[href="#"].title-pencil:hover:after{
    content:"\f040"attr(data-title);  
}
a[href="#"].title-question:hover:after {
    content: "\f059"attr(data-title);
}
a[href="#"].title-top:hover:after{
    top:auto;
    bottom: 100%;
}
html{
        overflow-x: hidden;
        height: 100%;
}
.you,.book,.give{
/*     position:relative; */
}
.you:before,.book:before,.give:before{
    content:" ";
    background-image: url(../download/logo.png);
    background-size: 2em;
    width: .6em;
    height: 2em;
    /* position: absolute; */
    /* margin: auto; */
    /* left: -.2em; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    font-size: .8em;
}
.you:before{
    background-position-x: -.1em;
    background-position-y: .2em;
}
.book:before{
    background-position-x: -.7em;
    background-position-y: .2em;
}
.give:before{
    background-position-x: -1.3em;
    background-position-y: -.6em;
}
.init-hide{
    display:none;
}
.init-hide.ng-scope{
    display:initial;
}

@media (min-width: 800px) {
  body{
        width: 800px;
        margin:auto;
  }
}