button .fa-spinner{
  display:none;
}
button[disabled] .fa{
  display:initial;
}
input,button{
    font: 1.2em sans-serif;
    line-height: 1.2em;
    box-sizing: border-box;
}
#login section{
    display: inline-table;
    white-space: nowrap;
}
#login summary{
    /* line-height: 2em; */
}
#login form{
  overflow-x: scroll;
  overflow-y: auto;
}
summary h1,summary h2{
  display:inline-block;
}
body{text-align: center;}
summary{text-align:left;}
.new-book{/* transform: scale3d(0.5,0.5,0.5); */font-size: .5em;}
.new-book:hover{
  transform: rotateY(180deg);
}
.new-book:after {
    content: "想要";
    position: absolute;
    right: .6em;
    bottom: .8em;
    line-height: 1em;
    /* z-index: -1; */
    font-size: .5em;
    font-weight: normal;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* background: antiquewhite; */
    text-indent: initial;
}