<!DOCTYPE HTML>
<html>
    <head>
        <title>出</title>
        <link rel="icon" href="download/logo.png">
        <meta id="meta" name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/form.css" />

    </head>
    <body>
        <form id="addForm" method="post"  enctype='application/json' action="https://book-2724e.firebaseio.com/sante/books2.json">
            
            <section id="descriptionSection">
                <fieldset>
                    <legend><em  class="book"></em><span id="whatBook">什么书？</span><strong><i id="forBookList" class="fa fa-spinner init-hide" aria-hidden="true">douban</i><abbr title="required">*</abbr></strong></legend>
                    <textarea id="description" required rows="6" inputmode="katakana" name="description" placeholder="名字,名字..."></textarea>
                </fieldset>
                <fieldset id="bookList">
                    <legend>是这书吗？<i class="fa fa-search">douban</i></legend>
                    <div id="bookListContent"></div>
                </fieldset>
            </section>

            <section>
                <fieldset id="userInfo">
                    <legend><em class="you"></em><em>书在哪？</em></legend>
                    <p class="address-p">
                        <label for="address">地址<strong><i id="forGeo" class="fa fa-spinner  init-hide" aria-hidden="true"></i><abbr title="required">*</abbr></strong>
                            <input name="addressFormatted" id="addressFormatted"/>
                            <button name="addressFormattedClose" type="button" class="close-icon">X</button>

                        </label>
                        <input class="hidden-checkbox" id="allowmail" name="allow" type="checkbox" value="mail" onchange="this.checked?good('addressGoodFa','show'):good('addressGoodFa','hide')"/><label for="allowmail">给快递员<span id="addressGoodFa"><i class='good'>♥</i></span></label>
                        <input id="address"  required minlength="3"  inputmode='katakana' autocomplete="city street-address"  mozactionhint="next" name="address" list="addressList" onmouseover="focus();"/>
                        <datalist id="addressList">
<!--                               <option value="鹰潭市"> -->
                        </datalist>
                        <span id="map">
                            <img id="mapImg" alt="maps.google"/>
                            <e class="mark"  draggable="true" ondragstart=""></e>
                        </span>
<!--                     <p><input class="hidden-checkbox" id="allowReceipt" name="allow" type="checkbox" value="receipt"/><label for="allowReceipt">也是收货地址</label> -->

<!--                     <p id="allowP"> -->
<!--                         <label for="allownear"><input id="allownear" name="allow" type="checkbox" value="near" checked/>给身边人</label> -->
                    <p><label for="username">你的名字<strong><abbr title="required">*</abbr></strong></label><input id="username" required maxlength="11" inputmode='katakana' autocomplete="name" mozactionhint="next" name="username"/>
                    <p><label for="tel">手机号<strong><abbr title="required">*</abbr></strong></label><input id="tel" required maxlength="11" minlength="11" autocomplete="tel" mozactionhint="send" type="number" type="tel" name="tel"/>
                </fieldset>
            </section>
            <section class="submit">
                <p><button type="submit"><em class="give">提交</em><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></button></p>
            </section>
            <input type="hidden" name="geo"/>
            <input type="hidden" name="vicinity"/>
        </form>

        <script src="https://wuchaolong.github.io/localStorage/src/localStorage.js?swfURL=https://wuchaolong.github.io/localStorage/src/localStorage.swf"></script>
        <script src="download/formToObject.js"></script>
        <script src="js/add.js"></script>
        <script>
            loaded();
            var importJs = getURLParameter("importJs");
            if(importJs){
                var s = document.createElement("script");
                s.type = "text/javascript";
                s.src = importJs;
                document.querySelector("body").appendChild(s);
            }

            function getURLParameter(name) {
              return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
            }
        </script>
        <script type="text/javascript" src="download/iframeResizer/iframeResizer.contentWindow.min.js" defer></script>
        
<!--         <script src="js/ifWant.js"></script> -->
<!--         <script src="https://jsconsole.com/js/remote.js?book"></script> -->
<!-- <script id="bookListTemplate" type="x-tmpl-mustache">
    <legend>是这书吗？<i class="fa fa-search">douban</i></legend>
    <div>
    {{#books}}
        <label for="coding{{@index}}">
            <input type="radio" id="coding@index" name="search" value="{{getJson(@index)}}">
            <img src="{{image}}">
            <a href="{{alt}}" target="_blank"><span class="fa fa-link">{{title}}</span></a>
        </label>
    {{/books}}
    </div>
</script> -->

<!-- <script src="download/mustache.min.js"></script> -->
<!-- <script src="download/template-web.js"></script>
<script id="bookListTitle" type="text/html">
</script>
<script id="bookListTemplate" type="text/html">
    <div>
    <%
        for(var i = 0;i<books.length;i++){
            var isChecked = i===0?"checked":"";
    %>
        <label for="coding<%= i %>">
            <input type="radio" id="coding<%= i %>" <%= isChecked %> name="search" value="<%= books[i]%>">
            <img src="<%= books[i].image %>">
            <a href="<%= books[i].alt%>" target="_blank"><span class="fa fa-link"><%= books[i].title%></span></a>
        </label>
    <% } %>
    </div>
</script> -->
    </body>
</html>