<!DOCTYPE HTML>
<html id="ng-app" ng-app="app"> <!-- id="ng-app" IE<8 -->
    <head>
        <title>三牛寺的书</title>
        <link rel="icon" href="download/logo.png">
        <meta id="meta" name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/list.css" />
        
    </head>
    <body ng-controller="AppController" >
        <h1 class="book">三牛寺的书</h1>
        <dl ng-repeat="(key, book) in books" class="init-hide">
<!--         {{book}} -->
            <dt class="description">{{book.description}}</dt>
            <dd class="puctures">
                <img ng-repeat="pucture in book.puctures"  ng-src="{{pucture}}"/>
            <dd class="person">
                <span class="name"><i class="fa fa-user-circle"></i>
                {{book.user.name}}</span><address class="address"><i class="fa fa-map-marker"></i>{{book.user.address}}</address>
            <dd class="action">

                <details>
                        <summary>得到</summary>
                        <a ng-href="sms://{{book.user.tel}}?body=我喜欢你三牛寺上分享的“{{book.description.slice(0, 4)}}...”，周三晚上7点鹰潭拉芳舍的书友会一起吗？"  onclick="new SMSLink.link().replaceAll();">邀请一起书友会</a>
                                或者<a href="#" data-title="设计中..." class="title-pencil">快递过来</a>
                </details>
                
        </dl>
        <i class="fa fa-spinner" ng-hide="loaded">loading</i>


        <script src="download/angular.min.js"></script>
        
        <script src="download/firebase.min.js"></script>
        <script src="download/angularfire.min.js"></script>
        <script src="js/list.js"></script>
        <script src="js/sms-link.min.js"></script>
        
    </body>

</html>