<!DOCTYPE HTML>
<html id="ng-app" ng-app="app"> <!-- id="ng-app" IE<8 -->
    <head>
        <title>三牛寺的书</title>
        <link rel="icon" href="download/logo.png">
        <meta id="meta" name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/list.css" />
        
    </head>
    <body ng-controller="AppController" >
        <h1 class="book">三牛寺的书</h1>


        <dl ng-repeat="(key, book) in books" class="init-hide" >
            <dt>{{book.description}}</dt>
            <dd  class="turn-boook" ng-show="book.search">
                <div class="description"><img ng-src="{{book.search.image}}"/></div>            
                <div class="turn-over">
                        <span title="{{book.search.summary}}">{{book.search.summary.slice(0,40)+"..."}}</span>
                        
                        <a class="search-alt" ng-href="{{book.search.alt}}" title="来源">
                        <i class="fa fa-link">douban</i></a>
                </div>
            </dd>
            <dd class="person">
<!--                     {{!book.users}}|{{isShowGet(book)}} -->
                    
                    <details ng-class="{'show-get': !book.users&&isShowGet(book)}" ng-open="$index==0&&!book.users&&isShowGet(book)">
                            <summary>
                                <span class="name">{{book.username}}<i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                <address class="address">{{book.address.slice(0, 6)}}<i class="fa fa-map-marker" aria-hidden="true"></i></address>
                                <span class="time"><i class="date">{{-book.time|date:'MM-dd'}}</i></span>
                                
                             </summary>
                             <div class="get" ng-show="!book.users&&isShowGet(book)">
                                想要？<a ng-href="sms://{{book.tel}}?body=我喜欢你三牛寺的“{{book.description.slice(0, 4)}}...”，周三晚上7点鹰潭拉芳舍的书友会一起参加吗？"  onclick="new SMSLink.link().replaceAll();">约Ta</a>
                                或 <button ng-click="mail(book)">快递送来</button>
                            </div>
                    </details>
                    <details ng-repeat="(key, user) in book.users" class="other-user" ng-class="{'show-get': $last&&isShowGet(user)}" >
                            <summary>
<!--                                 {{book.currentUser==key}}|{{isShowGet(user)}} -->
                                <span class="name"><i class="give"></i>{{user.name}}<i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                <address class="address">{{user.address.slice(0, 6)}}<i class="fa " ng-class="user.status?user.status:'fa-map-marker'" aria-hidden="true"></i></address>
                                <span class="time">
                                    <i class="date">{{-user.time|date:'MM-dd'}}</i>
                                </span>
                             </summary>
                             <div class="get" ng-show="$last&&isShowGet(user)">
                                想要？<a ng-href="sms://{{user.tel}}?body=我喜欢你三牛寺的“{{book.description.slice(0, 4)}}...”，周三晚上7点鹰潭拉芳舍的书友会一起参加吗？"  onclick="new SMSLink.link().replaceAll();">约Ta</a>
                                或 <button ng-click="mail(book,user)">快递送来</button>
                            </div>
                    </details>
                     
            
        </dl>

        <p ng-hide="loaded">
<!--             善良的ll，很庆幸你坐旁边，更庆幸你还捐了书，一直没来快递，不是简爱不好，而是没几个人知道。 -->
            <i class="fa fa-spinner" aria-hidden="true"></i>
        </p>

        <script src="download/angular.min.js"></script>
        
        <script src="download/firebase.min.js"></script>
        <script src="download/angularfire.min.js"></script>
        <script src="js/list.js"></script>
        <script src="js/sms-link.min.js"></script>
        
    </body>

</html>